<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Salão Reserva - Cadastro de Usuário</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body class="d-flex align-items-center justify-content-center min-vh-100 bg-body-tertiary">
	<main class="form-signin m-auto p-4 bg-white shadow rounded" style="max-width:600px; min-width:300px;">
		<form th:action="@{/users/register}" th:object="${usuarioDTO}" method="post" class="mt-4">
			<div class="text-center">
				<img class="mb-2" th:src="@{/img/salao-reserva-logo-2.png}" alt="Logo" width="300px" height="auto">
				<p class="text-muted">Criar seu cadastro</p>
			</div>
			<div class="form-group">
				<label for="nome">Nome</label>
				<input type="text" id="nome" th:field="*{nome}" class="form-control" placeholder="Digite seu nome">
				<span class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Digite seu email">
				<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			</div>

			<div class="form-group">
				<label for="telefone">Telefone</label>
				<input type="tel" id="telefone" th:field="*{telefone}" class="form-control"
					placeholder="Digite seu telefone">
				<span class="text-danger" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>
			</div>

			<div class="form-group">
				<label for="unidade">Unidade</label>
				<input type="text" id="unidade" th:field="*{unidade}" class="form-control"
					placeholder="Digite a unidade">
				<span class="text-danger" th:if="${#fields.hasErrors('unidade')}" th:errors="*{unidade}"></span>
			</div>

			<div class="form-group">
				<label for="nomeDeUsuario">Nome de Usuário</label>
				<input type="text" id="username" th:field="*{username}" class="form-control"
					placeholder="Digite seu nome de usuário">
				<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
			</div>

			<div class="form-group">
				<label for="senha">Senha</label>
				<input type="password" id="password" th:field="*{password}" class="form-control"
					placeholder="Digite sua senha">
				<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			</div>
			<button type="submit" class="btn btn-primary py-2 mt-2 mb-3">Cadastrar</button>
		</form>

		<div th:if="${message}" class="alert alert-success mt-4" role="alert">
			<span th:text="${message}"></span>
		</div>
	</main>
</body>
</html>